html, body {
  height: 100%;
  width: 100%;
}

body, h1, h2, h3, h4, ul, p {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

#editor {
  margin: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 50%;
}

.ace_scroller {
  box-shadow: inset -15px 0px 40px -14px #000;
}

#viewport {
  margin: 0;
  position: absolute;
  top: -1px;
  bottom: 0;
  right: 0;
  width: 50%;
  height: 100.2%;
  background: #fff;
  z-index: 120;
  overflow: hidden;
}
#viewport #iFrame {
  border: none;
  height: 99.336%;
  height: 100.25%;
  width: 100%;
}

.resizer {
  float: left;
  height: 100%;
  width: 8px;
  margin-left: -1px;
  cursor: e-resize;
  display: inline-block;
  left: 50%;
  position: absolute;
  z-index: 121;
}

.sizeLabel{
  position: absolute;
  background: rgba(0, 170, 202, 0.84);
  
  opacity: 1;
  font-size: 0.9em;
  padding: 0.2em;
  font-family: 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro', monospace;
}
.opaque{
  opacity: 0;
  transition: 0.5s opacity;
}


/* Theming */
.editor {
  background: #272822;
  font-family: 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro', monospace;
  color: #272822;
  font-size: 12px;
  background: #1D1F21 !important;
}

.ace_gutter {
  background: #2F3129 !important;
  background: #1D1F21 !important;
}

.nos, .resizing {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.resizing {
  cursor: e-resize;
}

.hide{
  display: none;
}
.hidei{
	display: none !important;
}
.showI{
  display: block !important;
}

.omniContainer{
		position: fixed;
		left: 25%;
		width: 50%;
		top: 1em;
		z-index: 211;
}
/*border box*/
.omnibar, .results, .wrapper{
	 -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}
.wrapper{
	border-top: 51px solid #1D1F21;
	height: 100%;
	position: relative;
}
.tabs{
	height: 2.5em;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 1;
	background: #2F3129;
	background: #1D1F21;
	background: -webkit-linear-gradient(top, #35363B, #1F2024);
	background: linear-gradient(top, #35363B, #1F2024);
}

.addFile{
	position: relative;
	display: inline-block;
	top: -5px;
	left: 19px;
	width: 26px;
	height: 18px;
	-webkit-transform: skew(20deg);
	   -moz-transform: skew(20deg);
	     -o-transform: skew(20deg);
	border-radius: 3px;
	background: #1F2123;
	background: #303131;
}

.addFile *{
	-webkit-transform: skew(-20deg);
	   -moz-transform: skew(-20deg);
	     -o-transform: skew(-20deg);
}
.addFile .plus {
	position: relative;
	float: left;
	padding: 2em;
	top:-13px;
	left: -18px;
}
.plus:before {
		content: "";
		position: absolute;
		left: 45%;
		top: 26%;
		width: 3px;
		height: 9px;
		background: #ccc;
}
.plus:after {
		content: "";
		position: absolute;
		left: 26px;
		top: 32%;
		width: 9px;
		height: 3px;
		background: #ccc;
}

.tabs .btns{
	width: 197px;
	height: 29px;
	float: right;
	margin-right: 0.7em;
	margin-top: 0.6em;
	background: url(../img/btns.png) no-repeat;
}

.omnibar, .results{
	width: 100%;
	font-family: calibri;
	
}
.omnibar{
	background: white;
	border-radius: 0.18em;
	border:0;
	font-size: 1.8em;

	padding: 0.33em 0.33em;
	outline: 0;
	margin: 0;
}
.omnibar.active{
	border-radius: 0.18em 0.18em 0 0;
}
.results{
	-moz-box-shadow:    inset 0 5px 13px -6px #000;
  -webkit-box-shadow: inset 0 5px 13px -6px #000;
  box-shadow:         inset 0 5px 13px -6px #000;
	background: white;
	padding: 0.5em 0.6em;
}
.results.selected{
	background: #283AFF;
	color: #fff;
	box-shadow: #000;
	box-shadow: inset 0 3px 12px -5px #363636;
}

.modalCover{
	z-index: 211;
	height: 100%;
	width: 100%;
	background: #000;
	position: absolute;
	opacity: 0.55;
}

/*
Fullscreen viewport
*/
.fsViewport{
	overflow: hidden;
}
.fsViewport .tabs{
	display: none;
}
.fsViewport .wrapper{
	border-top: none;
}
.fsViewport .editor{
	display: none;
}
.fsViewport #viewport{
	position: static;
	width: auto !important;
}

/*
Fullscreen editor
*/
.fsEditor #viewport{
	display: none;
}
.fsEditor #editor{
	width: 100% !important;
}

#editor .no-border, .no-border{
	border:none;
}


.nos {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
.tabs{
	background: -webkit-linear-gradient(top, #35363b, #1f2024);
	background: -webkit-linear-gradient(top, #e7e7e7, #bababa);
	height:50px;
	/*background: linear-gradient(top, #35363b, #1f2024);*/
	border-bottom: 1px solid #414345;
	z-index: 105;
}
.tabs li{
	display: inline-block;
	margin: 0;
	height: 32px;
	margin-right: -25px;
	position: relative;
	cursor:default;
	margin-top: 18px;
	font-family: calibri;
}
.tabs li i{font-style: normal;}
.tabs li .bg{
	display: block;
	float: left;
	height: 100%;
	padding: 0.4em 2.5em 0.4em 0.6em;
	box-sizing: border-box;
	color:white;
	background: -webkit-linear-gradient(top, #4C4C4D 0%, #414143 9%, #333435 25%,  #2B2C2C 100%);
	border-top: 1px solid #5D5F61;
	/*border-bottom: 1px solid #414345;*/
}
.tabs li .lt{
	display: block;
	float: left;
	height: 100%;
	width: 22px;
	background: url(../img/tab-left-inactive2.png) no-repeat;
	/* border-bottom: 1px solid #414345; */
}
.tabs li .rt{
	display: block;
	float: right;
	height:100%;
	width: 25px;
	background: url(../img/tab-right-inactive.png) no-repeat;
/*			border-bottom: 1px solid #414345;*/
}
.tabs li.active .bg{
	background: -webkit-linear-gradient(top, #303438 0%, #212325 25%,  #1d1f21 100%);
	border-top: 1px solid #4c4e50;
	/*border-bottom: none;*/
}
.tabs li.active .lt{
	background: url(../img/tab-left.png) no-repeat;
	height: 100%;
}
.tabs li.active .rt{
	background: url(../img/tab-right.png) no-repeat;
	/*border-bottom: none;*/
	/*height: 100%;*/
}
.tabs li.active .rt,
.tabs li.active .lt{
	/* -webkit-background-size: 100.1%; */
	/* background-size: 100.1%; */
	height: 33px;
}
.tabs li.active i{
	border-bottom: 1px solid #222020;
	
}
.tabs li{
	height: 30px;
	margin-top: 20px;
	margin-bottom: 0;
}
.tabs li.active i.bg{
	height: 33px;
}
.tabs li.active{
	margin-bottom: 2px;
	height: 29px;
	z-index: 101;
	margin-bottom: -1px;
	height: 31px;
	overflow: hidden;
}
.tabs li .lt{
	background-size: 120%;
}

.tabs .close{
	position: absolute;
	right: 25px;
	top: 13px;
	background-image: url(../img/close.png);
	background-repeat: no-repeat;
	height: 8px;
	width: 9px;
}

.tabs .close:hover{
	background-image: url(../img/closeHover.png);
}

.tabs span.unsaved{
	background: gray;
	height: 9px;
	top: 13px;
	border-radius: 4px;
}

.t1{z-index: 100}
.t2{z-index: 99}
.t3{z-index: 98}
.t4{z-index: 97}
.t5{z-index: 96}
.t6{z-index: 95}
.t7{z-index: 94}
.t8{z-index: 93}
.t9{z-index: 92}
.t10{z-index: 91}
.t11{z-index: 90}
.t12{z-index: 89}
.t13{z-index: 88}
.t14{z-index: 87}
.t15{z-index: 86}
.t16{z-index: 85}
.t17{z-index: 84}
.t18{z-index: 83}
.t19{z-index: 82}
.t20{z-index: 81}

.editor{
	background: #1D1F21;
	width: 100%;
	height: 80%;
}

/*.ace_gutter,.ace_scroller{margin-top:4px}*/
.ace_scrollbar{}
.files{
	position: absolute;
	left:0px;
	height: 100%;
	width: 25px;
	background: red;
	z-index: 10;
	background: #2e2e2e;
}

/* Files
#viewport{
	height: 100.3%;
}
#editor{
	left: 25px;
}

.tabs{
	padding-left: 23px;
}


.tabs{
	-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}
#viewport #iFrame{
	position: absolute;
	height: 100%;
}*/
